### JetBrains
.idea/dataSources
.idea/httpRequests

### Composer
/vendor
# Dependencies processed by Mozart
/plugins/system/passwordless/src/Dependencies/*
!/plugins/system/passwordless/src/Dependencies/README.txt

### NPM
/node_modules

### Release packages
/release